#* @vtlvariable name="action" type="com.atlassian.confluence.user.actions.LoginAction" *#
#macro (errorBlock $msg)
<div class="error" tabindex="0"><p>$msg</p></div>
#end

#set($showSignup = $action.isShowSignUp())

<html>
	<head>
        #requireResource("confluence.web.resources:master-styles")
        #requireResource("confluence.web.resources:login")
        #requireResource("confluence.web.resources:aui-forms")
	    #if( $fromNotPermitted )
		    <title>$i18n.getText("title.not.permitted")</title>
	    #else
		    <title>$action.getActionName($action.getClass().getName())</title>
		    <content tag="pageTitle"><a href="${req.contextPath}/homepage.action">$action.globalSettings.siteTitle</a></content>
		#end
	</head>
	<body>
		<style>
		.landing-title h2{font-size:48px!important; color:#555!important; text-transform:none!important; font-weight:300!important;}
		.integration-title h2{margin-top:80px;}
		.title-divider {
			width: 72px;
			border-top: 2px solid #AAAAAA;
			margin-bottom:30px;margin-top:26px;  height:1px;
			margin-left:auto; margin-right:auto;
		}
		.title-divider.noline {
			width: 72px;
			border-top: 0px solid #AAAAAA!important;
			margin-bottom:30px;margin-top:26px;  height:1px;
			margin-left:auto; margin-right:auto;
		}
		.title-divider.illustration{margin-bottom:50px!important;}
		p.landing-intro {color:#555; font-size:18px; font-weight:500px; padding-bottom:30px;margin-top:0px;}
		.illustration_img {margin-left:auto!important; margin-right:auto!important; text-align:center;}
		.bullet {width: 50%;float:left!important; margin-top:0px; margin-bottom:30px;}
		.bullet-two {padding-left:40px;}
		.bullet h3 {font-size:21px; text-transform:none!important; padding-left:20px;}
		.bullet p {font-size:16px; padding-left:20px;}
		.bullet li {font-size:16px!important; color:#555;}
		.video-section {background-color:#0071B9; padding-top:40px;}
		.video-section h2{font-size:48px!important; color:#fff!important; text-transform:none!important; font-weight:300!important; }
		.title-divider.videoline{margin-bottom:50px!important;border-top: 2px solid #fff;}
		.my-slider {font-size:21px; color:#fff;}
		.resourceblockwrapper {width:1160px; margin-right;auto; margin-left:auto;height:auto; padding-left:50px;margin-bottom:60px;}
		.resourceblock {
			background-position: left top;
			background-repeat: no-repeat;
			padding-left: 100px;
			float: left;
			width: 45%; margin-right:30px;
			margin-bottom:60px;
		}
		.resourceblock.webinarsicon {
			background-image: url(/wp-content/themes/cliqr-website/images/landing-pages/webinars-icon.png);}
			.resourceblock.whitepapers-icon {
			background-image: url(/wp-content/themes/cliqr-website/images/landing-pages/whitepapers-icon.png);}
			.resourceblock.pressreleases-icon {
			background-image: url(/wp-content/themes/cliqr-website/images/landing-pages/press-releases-icon.png);}
			.resourceblock.partners-icon {
			background-image: url(/wp-content/themes/cliqr-website/images/landing-pages/partner-icon.png);}
		.resourceblockwrapper h3{font-size:21px; color:#555; text-transform:none; margin-bottom:-10px!important;}
		.resourceblock p {
		    margin-top:0px!important; line-height:21px!important;margin-bottom:10px!important;
		}
		.resourceblock a { color:#00436F!important;}
		.unslider-arrow{display:none;}
		@media screen and (max-width: 720px) {
			.resourceblockwrapper {width:auto;}
		    .resourceblock, .bullet {float:none; width:80%;}
		}
		.home.homemessage .hero-content{height:36%!important;}
		.homemessage .hero-content{/*height:36%!important;*/}
		#homemessage_container {
		       background-color: rgba(255,255,255,0.7);
		    opacity: 0.7;
		    /* min-height: 110px; */
		    max-width: 960px;
		    border: 2px solid #f28c20;
		    margin-left: auto;
		    margin-right: auto;
		    padding-top: 18px;
		    padding-bottom: 19px;
		    margin-top: 108px;
		}
		.homemessage_wrap{width:90%;margin-left: auto;
		    margin-right: auto;}
		.homemessage_content  {font-size: 40px;
		    text-align: right;
		    width: auto;
		    color: #000;
		    font-weight: 300;
		    display: block;
		    float: left;
		    padding-right: 31px;
		    border-right: 1px solid #f28c20;
		    padding-top: 20px;
		    padding-bottom: 20px; }
		.homemessage_action{
			font-size: 18px;
		    height: 45px;
		    display: block;
		    float: right;
		    padding-top: 39px;
		}
		.homemessage_action a{color:#000!important;}
		.homemessage_action a:hover{color:#f28c20!important;}
		@media screen and (max-width:1040px){
			#homemessage_container {
		    background-color: #FFFFFF;
		    opacity: 0.7;
		    /* min-height: 110px; */
		    max-width: 960px;
		    border: 2px solid #f28c20;
		    margin-left: auto;
		    margin-right: auto;
		    padding-top: 20px;
		    padding-bottom: 28px;
		}
			.homemessage_content  {
		    font-size: 36px;
		    text-align: center;
		    width: auto;
		    color: #000;
		    font-weight: 300;
		    display: block;
		    float: none;
		    padding-right: 0px;
		    border-right: 0px solid #f28c20;
			    border-bottom: 1px solid #f28c20;
		    padding-top: 20px;
		    padding-bottom: 20px;
		 }
		.homemessage_action{
			font-size: 18px;
			height: 45px;
			display: block;
			float:none;
		padding-top:24px;
		text-align:center;
		clear: both;
		}
		.cobalt_message p{width:100%;!important;}
		}
		.message_image{width:15%; float:left; margin-right:20px; margin-bottom:20px;    padding-top: 10px;}
		.message_image img{width:100%;}
		.cobalt_message{}
		.cobalt_message p{text-align:left!important;}
		.message_titlearea{border-bottom: solid 1px #e1e1e1;margin-bottom: 44px;padding-bottom: 20px;}
		.message_titlearea h1.page-title{    text-align: left!important;margin-bottom:20px!important;}
		.message #request-demo-dropdown-link{display:none;}
		.cisco-announces-intent-to-acquire-cliqr #request-demo-dropdown-link{display:none;}

		@media screen and (min-width:1320px){
			.cobalt_message .container {
		    width: 970px;
		}
		}
		@media screen and (min-width:1200px){
			.cobalt_message .container {
		    width: 970px;
		}
		}
		@media screen and (min-width:1080px){
			.cobalt_message .container {
		    width: 750px;
		}
		}
		#request-demo-dropdown-link, #menu-request-demo-link {}
		@font-face {
		    font-family: 'ciscosansttregular';
		    src: url('/styles/images/tophat/font/ciscosansttregular-webfont.eot');
		    src: url('/styles/images/tophat/font/ciscosansttregular-webfont.eot?#iefix') format('embedded-opentype'),
		         url('/styles/images/tophat/font/ciscosansttregular-webfont.woff2') format('woff2'),
		         url('/styles/images/tophat/font/ciscosansttregular-webfont.woff') format('woff'),
		         url('/styles/images/tophat/font/ciscosansttregular-webfont.ttf') format('truetype'),
		         url('/styles/images/tophat/font/ciscosansttregular-webfont.svg#ciscosansttregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}
		.tophat {
			background-color: #8f8f8f;
			width:100%;
			background-image: url(/styles/images/tophat/back.png);
		}
		.cisco-logo{float: left;
		margin-right: 20px;
		padding-top: 3px;}
		.tophat .content-area{padding-top:9px; color: white;
		font-family: "ciscosansttregular";}
		.tophat .cisco-message{font-size:12px;color: white;
		font-family: "ciscosansttregular";}
		.cisco-more {margin-left:60px; color:#fff!important;font-size:11px!important; text-decoration:underline!important;}
		.cisco-more img{padding-left: 10px;
		display: inline;
		vertical-align: middle;}
		.cisco-about{font-size:11px!important;float:right;color:#fff!important; padding-top: 3px;text-decoration:underline!important;margin-right:34px;}
		.tophatstretch{margin-left:auto; margin-right:auto; width: 99%;}
		.header--narrow .tophat {display:none;}
		/* #topheadermenu {height:162px!important;}*/
		.ciscolearnmore {margin-left:3em;}
		@media screen and (max-width: 420px) {
			#topheadermenu {height:66px!important;}
			/*#topheadermenu {height:106px!important;}*/
			.cisco-about {display:none!important;}
			.cisco-more {margin-left:40px!important;}
			.ciscolearnmore {margin-left:0em!important;}
			.tophatstretch{width:100%!important;padding-left:24px!important;}
		}
		body {padding-top:0px;}
		.tophat {position:fixed; z-index:1000; margin-top:-42px;}
		#mobile-hamburger {top:52px!important;}
		#toprightnav {top:66px;}
		#request-demo-dropdown-link {top:86px;}

		#side-menu {
		    top: 0px !important;
		}
		.login .tophat {
		    margin-top: -50px;
		}
</style>
		<div style="width:100%; height:42px; display:none;" class="tophat"><div class="tophatstretch"><a class="cisco-logo" href="http://www.cisco.com/" target="_blank"><img src="/styles/images/tophat/cisco-logo.png"> </a><div class="content-area"><span class="cisco-message">CliQr is now part of Cisco</span> <a class="cisco-more" href="http://www.cisco.com/c/en/us/about/corporate-strategy-office/acquisitions/cliqr.html" target="_blank">Learn More <img src="/styles/images/tophat/icon-arrow.png"></a> <a class="cisco-about" href="http://www.cisco.com/web/about/index.html" target="_blank">About Cisco</a></div></div></div>
        <content tag="bodyClass">login</content>
		#if($showSignup)
		#requireResource("confluence.web.resources:signup")
		<script>
			AJS.$('#com-atlassian-confluence.login h1').addClass('unified-header');
		</script>
		#end

        <div id="login-container" #if($showSignup)class="unified-container"#end>
        #if ($remoteUser)
            <div class="login-section">
                <h2>$action.getText('login.name')</h2>
                #parse ('/template/includes/actionerrors.vm')
                <p>$i18n.getText('login.logged.in', $generalUtil.htmlEncodeAndReplaceSpaces($remoteUser.name))</p>
                <p class="last">$i18n.getText('login.logged.in.description')</p>
            </div>
        #else
			<div class="login-section #if($showSignup)unified#end">
                #applyDecorator("form-aui")
                    #decoratorParam("formName" "loginform")
                    #decoratorParam("submitAction"  "$req.contextPath/dologin.action")
                    #decoratorParam("editAction" "$req.contextPath/login.action")
                    #decoratorParam("editMode" "true")
                    #decoratorParam("formStyle" "login-form-container")

                    <h2>$action.getText('login.name')</h2>

                    #if($logout)
                     <script language="javascript">
 window.location = "${req.contextPath}/"; </script> #end
                    #parse ('/template/includes/actionerrors.vm')
                    <fieldset class="compact-form-fields">
                        #assistiveLegend("accessibility.form.login")
                        #bodytag( "TextField" "label='username.accesskey'" "name='os_username'" "theme='aui'")
                            #param("focus" "0")
                            #param("placeholder" $i18n.getText("username.name"))
                        #end
                        #bodytag( "Password" "label='password.accesskey'" "name='os_password'" "theme='aui'")
                            #param("placeholder" $i18n.getText("password.name"))
                        #end
                        #if($action.isElevatedSecurityCheckRequired())
                            <div id="captcha-container" class="field-group">
                                <label id="captcha-reponse-label" for="captcha-response">
                                    ## link in login.elevatedsecuritycheck.assistive has 'tabindex="5"'
                                    <span class="assistive">$i18n.getText("login.elevatedsecuritycheck.assistive")</span>
                                </label>
                                #set($captchaId = $captchaManager.generateCaptchaId())
                                ## assign reload a tabindex greater than 0 to remove it from the default tab order
                                <a class="reload" href="${req.contextPath}/dologin.action?os_username=${action.os_username}" tabindex="1" title="$generalUtil.escapeXml($i18n.getText('login.elevatedsecuritycheck.captcha.reload.title'))">
                                    <img src="${req.contextPath}/images/icons/refresh_grey_16.png" alt="$generalUtil.escapeXml($i18n.getText('login.elevatedsecuritycheck.captcha.reload.alt'))" />
                                </a>
                                #captchaImage($captchaId)
                            </div>
                            <div class="field-group">
                                <input id="captcha-response" class="text" type="text" name="captchaResponse" value="" placeholder="$i18n.getText('captcha.challenge')">
                                #fielderrorAUI('captcha')
                            </div>
                        #end

                        #if ($action.shouldRememberMeCheckboxBeOmitted())
                            <input type="hidden" name="os_cookie" value="true"/>
                        #else
                            #bodytag( "Component" "label='remember.accesskey'" "name='os_cookie'" "value='false'" "theme='aui'" "template='onofflist.vm'") #end
                        #end
                        <div class="field-group form-buttons compact-form-buttons">
                            <input id="loginButton" class="aui-button aui-style aui-button-primary" name="login" type="submit" value="$i18n.getText('login.button')"/>
                            #if ($action.isShowForgottenPasswordHelp())
                                <a id="forgot-password" class="aui-button aui-style aui-button-link" href="${req.contextPath}/forgotuserpassword.action">$i18n.getText("forgot.password")</a>
                            #end
                        </div>
                        <input type="hidden" name="os_destination" value="$!generalUtil.refineOsDestination($!os_destination)"/>
                    </fieldset>
                    #if ($showSignup)
                        <div id="signupMessage"><p>$i18n.getText("signup.for.an.account", "<a href='$action.getSignupURL()'>", "</a>")</p></div>
                    #end
                #end
                </div> ## login-section

            #if ($showSignup)
            <div class="signup-section">
	            #applyDecorator("form-aui")
	                #decoratorParam("formName" "signupform")
	                #decoratorParam("submitAction" "$req.contextPath/dosignup.action")
	                #decoratorParam("editAction" "$req.contextPath/signup.action")
	                #decoratorParam("editMode" "true")
	                #decoratorParam("formStyle" "login-form-container signup")
	                #decoratorParam("autocompleteDisabled" true)

	                <h2>$action.getText("sign.up")</h2>

                    <fieldset class="right-aligned-form-fields">
	                    #assistiveLegend("accessibility.signup.legend")
	                    #bodytag( "TextField" "label='fullname.name.bothcaps'" "name='fullName'" "theme='aui'" )
                            #param("focus" "0")
                            #param("placeholder" $i18n.getText("fullname.name.bothcaps"))
                        #end
                        #bodytag( "TextField" "label='email.name'" "name='email'" "theme='aui'" )
	                        #param("type" "email")
                            #param("placeholder" $i18n.getText("email.name"))
	                    #end
	                    #bodytag( "TextField" "label='username.name'" "name='username'" "theme='aui'" )
                            #param("placeholder" $i18n.getText("username.name"))
                        #end
                        #bodytag( "Password" "label='password.name'" "name='password'" "theme='aui'" )
                            #param("placeholder" $i18n.getText("password.name"))
                        #end
                        #bodytag( "Password" "label='confirm.password.name'" "name='confirm'" "theme='aui'" )
                            #param("placeholder" $i18n.getText("confirm.password.name"))
                        #end
                        #tag( "Hidden" "name='token'" "value='$!action.token'" )

                        #parse ("/pages/includes/captcha-form-elements.vm")

	                    <div class="field-group form-buttons compact-form-buttons">
                            <input id="signupButton" class="aui-button aui-style aui-button-primary" name="signupButton" type="submit" value="$i18n.getText('sign.up')" />
	                    </div>
	                </fieldset>
                    <div id="loginMessage"><p>$i18n.getText("signup.for.an.account.login", "<a href='$req.contextPath/login.action'>", "</a>")</p></div>
	            #end
            </div> ## signup-section
            #end
        #end
        </div>
        #if ($action.isBrowserLanguageEnabled())
            <content tag="login-language">
                <ul id="login-language">
                    #foreach ($lang in $action.getInstalledLanguages())
                        <li>
                            <a href="$req.contextPath/login.action?language=$lang.name">$lang.capitalDisplayName</a>
                        </li>
                    #end
                </ul>
            </content>
        #end
		<script type="text/javascript">
			$(function() {
				$('body').prepend($('.tophat'));
			});
		</script>
	</body>
</html>
