.internet-required {
    margin-top: 0;
    margin-bottom: 20px;
}

.inline-radio-options {
    margin-top: 20px;
}

form.aui .inline-radio-options .radio {
    float: left;
    margin: 0 40px 0 0;
}

.forgot-password {
    margin-left: 145px;
}

.loading-spinner {
    margin-top: 10px;
}

div.buttons-container > div.checkbox:first-child {
    margin-bottom: 20px;
}