#cluster-logo {
    height: 128px;
    padding: 20px 40px 20px 145px;
    float: left;
}

#cluster-logo-message {
    padding: 74px;
    margin-top: 0;
}

.pageheader {
    display: none;
}

form.aui div.cluster-buttons.bottom {
    position: absolute;
}

form.aui div.cluster-buttons {
    bottom: 0;
}

#cluster-migration-info {
    padding: 0 0 20px 145px;
}

#action-messages {
    padding: 0 109px;
}